* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif; 
    background-color: #f8f9fa;     
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    padding: 20px 80px;             
    background-color: #ffffff;      
}


.nav-links{
    display:flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
}

.nav-actions{
    display: flex;
    align-items: center;
    gap:20px;
}

